<!-- register.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Mono:wght@600&display=swap"
      rel="stylesheet"
    />
    <title>Registration</title>
    <style>
      html,
      body {
        height: 100%;
        font-family: "Roboto Mono", monospace;
      }
      .wrapper {
        min-height: 100%;
        position: relative;
      }
      * {
        margin: 0;
        padding: 0;
      }
      header {
        font-family: "Roboto Mono", monospace;
        align-items: center;
        font-size: 2rem;
        height: 100px;
        background-color: #001e2b;
        color: #00ed64;
        display: flex;
        justify-content: center;
      }
      main {
        margin-top: 5%;
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      h1 {
        margin-bottom: 50px;
      }

      input {
        height: 30px;
        width: 30%;
      }
      .wrapper-home {
        margin: 10px 2% 10px 2%;
        display: grid;
        grid-template-columns: 40% 40%;
        justify-content: center;
        gap: 40px;
      }

      .wrapper-home div {
        background-color: #001e2b;
        color: #00ed64;
        border: 1px solid black;
      }
      footer {
        display: flex;
        font-family: "Roboto Mono", monospace;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #001e2b;
        color: #00ed64;
        position: absolute;
        bottom: 0;
        width: 100%;
      }
      a {
        text-decoration: none;
        color: inherit;
      }
      .field {
        margin-bottom: 10px;
      }

      button {
        background-color: #001e2b;
        color: #00ed64;
        font-size: 20px;
        cursor: pointer;
        width: 10%;
        border: 1px solid black;
        border-radius: 10px;
        height: 30px;
      }

      button:hover {
        background-color: #00ed64;
        color: #001e2b;
      }

      @media only screen and (max-width: 700px) {
        body {
          font-size: 14px;
        }
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/home"> <h2>ASSIGNMENT 3</h2> </a>
      </header>
      <main>
        <h1>HOME</h1>
        <div class="wrapper-home">
          <div class="first-api">
            <a href="/covid"><h2>Covid-19 cases</h2> </a>
            <p style="margin-top: 10px; color: white">
              This page provides detailed information on COVID-19 cases
              collected from various data sources. Here you can find the daily
              report on the number of new cases of the disease, as well as the
              total number of infected people in Kazakhstan. The information is
              presented in a convenient tabular form, allowing you to easily
              track the dynamics of morbidity in our country. This data helps
              you to be informed and make rational decisions in connection with
              the pandemic.
            </p>
          </div>
          <div class="second-api">
            <a href="/holidays"><h2>Kazakhstan holiidays</h2></a>
            <p style="margin-top: 10px; color: white">
              On the "Holidays" page you can get information about holidays in
              Kazakhstan. This service provides data on holidays for previous
              years, as well as calendars for the future. The information
              includes data on public holidays, various religious dates, bank
              holidays and many other categories. The data obtained is presented
              in a convenient table format, where the country, date of the
              holiday, day of the week and the name of the holiday are
              indicated. All information is presented in the form of a
              beautifully designed and easy-to-read table.
            </p>
          </div>
        </div>
      </main>
      <footer>
        <h2>Artem Grents</h2>
        <h3>SE-2205</h3>
      </footer>
    </div>
  </body>
</html>
